body {
		background-color: #FAFAFA;
		font-family: Lato,serif;
		background-image: url("bg.png");
	}
	
div {
		margin-left: 30px;
	}
h1	{
		border-bottom: 2px groove black;
	}
	
ul 	{
		list-style: none;	
	}
	
#head {
		float: left;
		padding-bottom: 40px;
	}

#img{		
		z-index: 1;		
		left: 73%;
		position:absolute;		
		margin-top: 0;
	}
	
img{
		width:70%;
		height:70%;
		-ms-transform: rotate(-1deg); /* IE 9 */
		-webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
		transform: rotate(-1deg);
		border: 5px solid white;
		box-shadow: 2px 2px grey;
	}
	
#body{
		top: 260px;
		position: absolute;
	}

a {
		text-decoration: none;
		color: grey;
	}
	
#intro {
		width: 70%;
		font-style: italic;
	}
	
li li{
		font-style: italic;
	}

.info{
		clear: all;
		width: 90%;
	}	

.info>h4{
		float: left;
	}

.info>ul{		
		margin-left: 150px;
		border-left: 2px solid black;
	}
	
.exp{
		font-size: .9em;
		padding-bottom: 5px;
	}
